
<html>


  <head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% block head %}
    <title>base</title>




{% endblock %}

<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <div class="pull-right">

  </div>


  </form>
</nav>


</head>



  <body>

    <div class="jumbotron">
      <h1 class="display-4">Department Of Computer Science</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/account/login" role="button">Login</a>
        <a class="btn btn-primary btn-lg" href="/account/Signup" role="button">Sign Up</a>
      </p>
    </div>



    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
      </div>
    </div>


{% block body %}

{% endblock %}
  </body>


</html>
